* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#FFC94A;
    color: white;
}

#heading {
    text-align: center;
    color: #453F78;
    font-size: 3rem;
    text-shadow: 2px 3px 6px #ccc1c1;
}

#game {
    width: 70vmin;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C08B5C;
    border-radius: 0.8rem;
    padding: 12px;
    box-shadow: 1px 2px 3px #795458;
}

.btn {
    width: 10vmin;
    height: 10vmin;
    margin: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
    background-color: #795458;
    color:#FFC94A;
}

.layer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resetButton {
    padding: 18px 25px;
    margin: 1.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #453F78;
    color: #FFC94A;
    border-radius: 0.2rem;
}

.winnerAnnoucer {
    width: 100vw;
    height: 100vh;
    background-color: #FFC94A;
    position: absolute;
    top: 0;
    right: 0;
}

.winnerAnnoucer .winnerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#cancelButton {
    background-color: #453F78;
    color: #FFC94A;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
}

#newButton {
    padding: 18px 25px;
    margin: 1.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #453F78;
    color: #FFC94A;
    border-radius: 0.2rem;
}

.winnerAnnoucer .winnerBox h1 {
    font-size: 2.5rem;
    color: #453F78;
    text-align: center;
}

@media (max-width:500px) {
    .winnerAnnoucer .winnerBox h1 {
        font-size: 1.1rem;
        text-align: center;
    }

    #newButton {
        padding: 12px 17px;
        margin: 1rem;
        font-size: 1.2rem;
    }

    #resetButton {
        padding: 12px 17px;
        margin: 1rem;
        font-size: 1.2rem;
    }
}
